body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 200;
}

#app{
    display: grid;
    grid-template-rows: 200px 450x 50px 50px;;
    grid-template-columns: 150 150px 150px;
    grid-template-areas: "hd hd hd hd hd hd hd hd "
    "lt lt  lt  lt  rt  rt  rt  rt"
    "lt lt  lt  lt  rt  rt  rt  rt"
    "ft ft  ft  ft  ft  ft  ft  ft ";
    border:solid gainsboro 1px;
    
}

#sidebar-left {
    grid-area: lt;
    grid-gap: 10px;
    border:red solid 1px;
    background-color: lightcoral;
}

#sidebar-right {
    grid-area: rt;
    justify-content: center;
    border:red solid 1px;
    background-color: lightcoral;
    
   }
   #header {
    grid-area: hd;
    width:100%;
    height:100%;
    text-align: center;
    font-family: cursive;
    border:red solid 1px;
    font-size: 25px;
}
#footer {
    grid-area: ft;
    width:100%;
    height:100%;
    text-align: center;
    font-family: cursive;
    border:red solid 1px;
}


#entryHolder{
display: flex;
background-color: lightcoral;
align-items: center;
width:100%;
}

#temp{
margin-left:20px;
}

#iresponse{
margin-left:20px
}

.headline {
    text-align: center;
    font-size: larger;
    color:blue;

}
.title{
margin-top: 20px;
 align-items: center;
 color: black;
 font-size: x-large;
 margin-left: 250px;
 }

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 18px;
}

input{
    display:block;
    height: 25px;
    width: 250px;
    background:lightgrey;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
    margin-left:  55px;
    margin-top: 25px;
  }
  
  .button:hover {
    background-color: green;
  }
h1{
    font-size: 36px;
}

textarea{
    background:lightgrey;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    height: 100px;
    width:250px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: lightcoral; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color:lightcoral;  
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color:lightcoral; 
    font-family: 'Oswald', sans-serif;

} 
/* new features*/
#new-features {
    display: flex;
    align-items: center;
}
#temp {
    
}
#content {
    margin-left: 70px;
}


form.form {
    display: table;
    align-items: stretch;
    margin-left:50px;
}

div.form {
    display: table-row;
}
section{
    color:blue;
}