body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(100px, auto);
     justify-content: stretch;
  /*  grid-gap: 1em;*/
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    
}

.holder{
    align-content: center;

}

.entry{
    background: rgba(59, 74, 107, .4);
}

#entryHolder{
display: flex;
background-color: #f0d43a;
align-items: center;
width:100%;
}

#date{

}

#temp{

}

#content{

}

.headline {
    text-align: center;
    font-size: larger;
    color:blue;

}
.title{
margin-top: 50px;
 align-items: center;
 color: black;
 font-size: x-large;
  margin-left: 85px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 25px;
    width: 250px;
    background:lightgrey;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
    margin-left:  55px;
    margin-top: 25px;
  }
  
  .button:hover {
    background-color: green;
  }
h1{
    font-size: 36px;
}

textarea{
    background:lightgrey;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    height: 100px;
    width:250px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: lightcoral; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color:lightcoral;  
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color:lightcoral; 
    font-family: 'Oswald', sans-serif;

} 
/* new features*/
#new-features {
    display: flex;
    align-items: center;
}
#temp {
    
}
#content {
    margin-left: 70px;
}


form.form {
    display: table;
    align-items: stretch;
    margin-left:80px;
}

div.form {
    display: table-row;
}
section{
    color:blue;
}